@import url("https://use.typekit.net/dkw2wky.css");
@import url("https://fonts.googleapis.com/css2?family=Nova+Cut&display=swap");
@import url("/fonts/Avenir_Next.ttc");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.primary-bg-gradient {
		@apply bg-gradient-to-br from-[#2D3134] to-[#1C2123];
		/* @apply bg-gradient-to-br from-['#3A3F42'] to-['#22282B']; */
	}
	.bronze-gradient {
		@apply bg-gradient-to-br from-[#CCA48A] to-[#8E7260];
		/* @apply bg-gradient-to-br from-['#3A3F42'] to-['#22282B']; */
	}
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html,
body {
	max-width: 100vw;
	overflow-x: hidden;
	width: 100%;
	height: 100%;
	/* font-family: novecento-sans-wide, sans-serif; */
}

#__next {
	width: 100%;
	height: 100%;
}

a {
	color: inherit;
	text-decoration: none;
}
